@{
    ViewBag.Title = "Users";
}
@section ExternalDependencies {
    <script src="~/lib/babel-polyfill/polyfill.min.js"></script>
    <script src="~/lib/exceljs/exceljs.min.js"></script>
    <script src="~/lib/filesaver.js/filesaver.min.js"></script>
}

<div class="container">
    <div class="gridContainer">
        <div id="grid"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            const grid = $("#grid").dxDataGrid({
                dataSource: createDataStore(serviceUrl, 'Users', {
                    key: 'Id',
                }),
                remoteOperations: true,
                columnAutoWidth: true,
                showBorders: true,
                width: '100%',
                selection: { mode: 'single' },
                hoverStateEnabled: true,
                headerFilter: { visible: true, search: { enabled: true } },
                searchPanel: { visible: true, width: 300 },
                groupPanel: { emptyPanelText: '@ViewBag.Title', visible: true },
                scrolling: { mode: 'virtual' },
                export: { enabled: true, allowExportSelectedData: false },
                onExporting: (e) => handleExporting(e, '@ViewBag.Title'),
                editing: {
                    mode: "popup",
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true,
                    useIcons: true,
                    form: {
                        items: [
                            {
                                itemType: 'group',
                                colCount: 1,
                                colSpan: 2,
                                items: [
                                    { dataField: 'Id', editorOptions: { disabled: true } },
                                    { dataField: 'Nid' }
                                ]
                            }
                        ]
                    }
                },
                columns: [
                    { dataField: "Id", caption: "ID", width: 50, allowUpdating: false },
                    { dataField: "Nid", caption: "National ID / Username" },
                    // สามารถเพิ่ม Audit fields เช่น CreatedDate ได้ถ้าต้องการ
                    { dataField: "CreatedDate", dataType: "date", format: "yyyy-MM-dd HH:mm", allowEditing: false, visible: false }
                ],
            }).dxDataGrid('instance');
        })
    </script>
}