VITE_ILEARN_ADMIN_APP_NAME=iLearn Admin
VITE_ILEARN_ADMIN_APP_BASE_PATH=/
VITE_ILEARN_ADMIN_API_BASE_URL=/api
VITE_ILEARN_ADMIN_SIGNALR_BASE_URL=
VITE_ILEARN_ADMIN_ENABLE_SIGNALR=false
VITE_ILEARN_ADMIN_ENABLE_SESSION_BOOTSTRAP=true
VITE_ILEARN_ADMIN_DEVEXTREME_LICENSE_KEY=ewogICJmb3JtYXQiOiAxLAogICJjdXN0b21lcklkIjogIjQzMzdjY2M1LTA4ZjYtNDE2NS05NmJiLWU3MmY1NmY2MjA4MCIsCiAgIm1heFZlcnNpb25BbGxvd2VkIjogMjUyCn0=.msUWqj0CLKKVTKUeCMJaSMQVVJywgLDSkWDBfPtwwreYLfwUyK/UvfODZGJNx7wAaZlPK4SIgVLQZGkGwaKEpGXSTkOp20qOjyy0xCUGBN73QilDt/zJHzjAFvDXkJcsEr6Pgg==