VITE_APP_NAME=iLearn Admin
VITE_APP_BASE_PATH=/
VITE_API_BASE_URL=https://ap-ntc2138-qawb/iLearnNew/Service/api
VITE_SIGNALR_BASE_URL=https://ap-ntc2138-qawb/iLearnNew/Service
VITE_ENABLE_SIGNALR=false
VITE_ENABLE_SESSION_BOOTSTRAP=false
VITE_DEVEXTREME_LICENSE_KEY=ewogICJmb3JtYXQiOiAxLAogICJjdXN0b21lcklkIjogIjQzMzdjY2M1LTA4ZjYtNDE2NS05NmJiLWU3MmY1NmY2MjA4MCIsCiAgIm1heFZlcnNpb25BbGxvd2VkIjogMjUyCn0=