@{
    ViewBag.Title = "Divisions";
}
@section ExternalDependencies {
    <script src="~/lib/babel-polyfill/polyfill.min.js"></script>
    <script src="~/lib/exceljs/exceljs.min.js"></script>
    <script src="~/lib/filesaver.js/filesaver.min.js"></script>
}

<div class="container">
    <div class="gridContainer">
        <div id="grid"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            const grid = $("#grid").dxDataGrid({
                dataSource: createDataStore(serviceUrl, 'Divisions', {
                    key: 'Id',
                }),
                remoteOperations: true,
                columnAutoWidth: true,
                showBorders: true,
                width: '100%',
                headerFilter: { visible: true, search: { enabled: true } },
                searchPanel: { visible: true, width: 300 },
                editing: {
                    mode: "popup",
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true,
                    useIcons: true,
                    form: {
                        items: [
                             { dataField: 'Id', editorOptions: { disabled: true } },
                             { dataField: 'Name' }
                        ]
                    }
                },
                columns: [
                    { dataField: "Id", caption: "ID", width: 50, allowUpdating: false },
                    { dataField: "Name", caption: "Division Name" }
                ],
            }).dxDataGrid('instance');
        })
    </script>
}