@{
    ViewBag.Title = "Divisions";
}


<div class="container-fluid page-full-height">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            const grid = $("#grid").dxDataGrid({
                dataSource: createDataStore(serviceUrl, 'admin/DivisionsCRUD', {
                    key: 'Id',
                }),
                remoteOperations: true,
                columnAutoWidth: true,
                showBorders: true,
                scrolling: { mode: "virtual" },
                height: "100%",
                headerFilter: { visible: true, search: { enabled: true } },
                searchPanel: { visible: true, width: 300 },
                editing: {
                    mode: "popup",
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true,
                    useIcons: true,
                    form: {
                        items: [
                             { dataField: 'Id', editorOptions: { disabled: true } },
                             { dataField: 'Name' }
                        ]
                    }
                },
                columns: [
                    { dataField: "Id", caption: "ID", width: 50, allowUpdating: false },
                    { dataField: "Name", caption: "Division Name" }
                ],
            }).dxDataGrid('instance');
        })
    </script>
}