<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 1034 MB = allow multipart envelope overhead above 1 GB SCORM payload -->
        <requestLimits maxAllowedContentLength="1084227584" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
